@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body
{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 34%, rgba(113,15,107,1) 80%, rgba(104,3,147,1) 100%);

    font-family: 'Roboto', sans-serif;
}

.flex-container
{
    display: flex;
    flex-direction: column;
}
header {
  position: relative;
top: -204px;
left: 25px;
margin-bottom: -40px;
color: white;
font-family: 'Amatic SC', cursive;
font-size: 76px;
}
}
h1
{
    position: relative;

    text-align: center;

    color: white;

    font-family: 'Amatic SC', cursive;
    font-size: 62px;
    font-weight: 700;
}

p
{
    padding: 33px;

    color: white;

    font-family: 'Amatic SC', cursive;
}

h2
{
    position: relative;

    margin-top: 10px;

    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h3
{
    margin-top: -50px;
    margin-left: 67px;

    text-align: center;

    color: white;

    font-size: 61px;
    font-weight: 700;
}

a
{
    text-decoration: none;

    color: white;
}
li
{
    position: relative;
    top: 261px;
    left: 25px;

    margin-bottom: -45px;

    color: white;

    font-family: 'Amatic SC', cursive;
    font-size: 23px;
}

main
{
    overflow: hidden;

    font-family: 'Amatic SC', cursive;

    flex-flow: column wrap;
    align-items: center;
}

.picturestexts
{
    margin-top: 50px;

    justify-content: center;
}

.menu
{
width: 100%;

    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.shaba
{
    top: -520px;
    left: 37px;

    width: 178px;
    margin-left: 20px;

    background: image;
}

.oblako
{
    z-index: 1;
    top: -240px;
    left: -70px;

    width: 300px;
    height: 300px;
    margin-left: 200px;

    background: image;
}
.endmenu
{
    width: : 120%;
}

.vk
{
    position: relative;
    top: 216px;
    left: 221px;

    width: 48px;
    height: 108px;
}

.knopka
{
    display: block;

    width: 152px;
    height: 24px;
    margin: 56px auto;
    padding: 17px 13px;

    transition: all .25s ease-in;
    text-align: center;
    text-decoration: none;

    color: #00c6ff;
    border: 1px solid #00c6ff;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 700px;
}

.vie:hover
{
    color: #fff;
    background-position: 0 0;
}
